.playlist-wrapper {
    width: 30%;
    margin-left: 16px;
}
.playlist-card {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.Active {
    border: 3px solid #fad744;
    border-radius: 6px;
    box-sizing: border-box;
  }
  